@font-face {
  font-family: "lcd14";
  src: url("/fonts/lcd/LCD14.otf");
}

html,
body {
  font-family: "Courier New", Courier, monospace;
}

.digits {
  font-family: "lcd14";
  font-size: 2rem;
  color: yellowgreen;
  background-color: black;
  text-align: center;
  width: 600px;
}

.clock {
  /* padding: 1rem; */
  border: solid 1px gray;
  border-bottom: none;
}
.clock:last-of-type {
  border: solid 1px gray;
}
.clock > * {
  margin-right: 1rem;
  width: 175px;
  display: inline-block;
  padding: 1rem;
}
